header {
    background-color: var(--color-orange);
}
nav {
    padding: 50px 0;
    position: relative;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 50px;
    justify-items: center;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
    font-family: var(--main-font);
    font-weight: bold;

    li {
        height: 100%;
        cursor: pointer;
        padding: 0 10px;
        align-content: space-around;
    }

    li:hover, li.menu-active {
        background-color: var(--color-red);
        color: white;
    }
}
.nav-button {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    padding: 35px;
    margin: 0;
    background-color: var(--color-violet);
    transition: transform 0.5s ease-in-out;
}
.nav-button:hover {
    background-color: var(--color-red);
    transform: scale(1.2);
    color: white;
}

/* Tablet Media Query */
@media (min-width: 768px) and (max-width: 1024px) {
    .nav-logo {
        width: 20%;
    }
}

/* Mobile Media Query */
@media (max-width: 767px) {
    nav {
        padding: 20px 0;
    }

    .navbar {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 90%;
        height: auto;
        border-radius: 100px;
        border-left: none;
        border-right: none;
        overflow: hidden;
        padding: 0;
    }

    .nav-button {
        padding: 20px;
    }

    .nav-logo {
        display: none;
    }
}