.profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-violet);

    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 25px;
    }
}
.profile-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-data_person {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flashes-profile {
    width: 5%;
    position: absolute;
    left: 340px;
}
.data_person_img {
    width: 15%; 
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 100%;
    
    img {
        width: 100%;
    }
}
.localization-person {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    h4 {
        font-family: var(--secondary-font);
        font-weight: lighter;
        margin: 0;
    }

    img {
        width: 10%;
        height: 10%;
    }
}
.profile-data_animals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.animal-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--main-font);
    font-weight: bolder;
    padding: 20px;

    img {
        width: 50%;
    }
}
.profile-data_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 30px;
}
.settings-icon {
    width: 4%;
    img {
        width: 100%;
        cursor: pointer;
    }
}
.profile-pics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
}
.profile-pics_filter {

    ul {
        display: flex;
        padding: 0;
        gap: 100px;
        font-family: var(--secondary-font);
        color: var(--color-red);
    }
}
.profile-pics_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    margin-bottom: 50px;
}
.profile-pics_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.pics_item-buttons {
    display: none;
    height: inherit;
    width: inherit;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
}

.profile-pics_item:hover {
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    img {
        position: relative;
    }
} 
.profile-pics_item:hover .pics_item-buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 30px;


    .action-icon {
        width: 20%;
        border: 1px solid white;
        border-radius: 100%;
        padding: 5px;
        transition: transform 0.3s ease;
    }
} 

.action-icon:hover {
    transform: scale(1.1);
}

/*FORMS PROFILE*/
.profile-form_container {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    padding: 40px 20px;
}
.profile-form {
    max-height: 100%;
    overflow-y: auto;
    width: 40%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--color-violet);

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 15px;
        text-align: left;
    }
}

.profile-form_title {
    position: relative;
    img {
        position: absolute;
        width: 20%;
        left: 370px;
    }
}
.profile-form_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
        width: 20%;
        border: 1px solid black;
        border-radius: 100%;
    }

    input {
        width: auto;
        border: none;
        box-shadow: none;
        padding: 10px;
    }
}

.profile-form_file {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    img {
        width: 10%;
    }
}
.profile-form_button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.add-post-button {
    cursor: pointer;
    p {
        margin: 0;
        font-size: 200px;
    }
}
.add-post-button:hover {
    color: var(--color-red);
}

/*POST*/
.animal-post_container {
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.animal-post {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5%;
    overflow: hidden;
}

.animal-post_img {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.animal-post_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 40px 40px 40px;

    h1 {
        font-size: 40px;
    }
}
.animal-post_buttons {
    display: flex;
    gap: 5px;
}

/*MAILBOX*/
.mailbox-container {
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 30px;
    background-color: #C0D0ED;
    border-radius: 20px;
    text-align: center;
    overflow-y: auto;
}
.notifications-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.notification-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notification {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    img {
        width: 100%;
        height: 100%;
    }
}
.notification-img{
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.notification-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification-modal {
    display: flex;
    flex-direction: column;
}
.hidden-modal {
  display: none;
  width: 80%;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;

  ul {
    padding: 0;
  }
}
.hidden-modal.show {
  display: block;
}